/* Base */
body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Container for the cart items and total */
.cartBody {
  max-width: 800px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-height: 37vh;
}

/* Individual cart item */
.itemFrame {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
  padding: 15px 0;
}

.foodPic {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 15px;
}

.details {
  flex: 1;
}

.food-title {
  font-size: 1.3em;
  margin-bottom: 5px;
}

.pricedesc {
  color: #777;
  margin-bottom: 10px;
}

.amountBtn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.amountBtn p {
  margin: 0;
  font-weight: bold;
}

/* Button styling */
button {
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

button:focus {
  outline: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Total price and subtotal styling */
.totalPrice,
.subTotal {
  font-size: 1.4em;
  font-weight: bold;
  margin: 20px 0;
  text-align: right;
}

.confirmAllButton {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #007bff;
}

.confirmAllButton:hover {
  background-color: #0056b3;
}

/* If you're using bootstrap, this may help improve the button hover effect */
button.btn:hover {
  opacity: 0.8;
}

.quantityValue {
  display: inline-block;
  padding: 8px 12px; /* This ensures the quantity has similar padding as the buttons */
  font-weight: bold;
  background-color: #f5f5f5;
  border-radius: 4px;
  min-width: 30px; /* Ensures the box doesn't get too small when count is a single digit */
  text-align: center;
}

.cartPage {
  background: url(https://res.cloudinary.com/dg6vle2w8/image/upload/v1701195975/A11_x8nioi.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* Cart.css */
.cart-item {
  margin-bottom: 20px;
  max-width: 400px;
}

.cart-item img {
  max-height: 200px;
  object-fit: cover;
}

.quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity {
  margin: 0 10px;
  font-weight: bold;
}

.fakaCart {
  width: 100%;
  align-content: center;
  margin-top: 65px;
}
.warning {
  color: red;
  font-size: large;
}
