.login-background {
  background: url(https://res.cloudinary.com/dg6vle2w8/image/upload/v1701195975/A11_x8nioi.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
