/* Modal Styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
}

/* Send to Rider Button */
.send-to-rider {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.send-to-rider.sent {
  background-color: #45a049;
}

.send-to-rider:hover {
  background-color: #45a049;
}

/* Error Message Styles */
.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

/* Media Query for Small Screens */
@media screen and (max-width: 600px) {
  .modal-content {
    width: 90%;
  }
}

.button-assigned {
  background-color: #b2bec3; /* Ash color */
  color: #636e72; /* Darker text to be readable on ash background */
  cursor: not-allowed;
  border: 1px solid #636e72; /* Optional: adds a border to the button */
}
.assign-to-rider-all {
  background-color: #005a81;
}
